@charset "utf-8";

body { 
    padding-left: 0px;
    padding-right: 0px;
}

footer {
    text-align: center;
}

.logo {
  max-width: 200px;
  max-height: 100%;
  margin: 0px auto;
  display: inline;
}

.banner .banner-title {
    display: inline;
    vertical-align: bottom;
    color: #08f;
}

ul.menu {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0;
    overflow: hidden;
    background-color: #08f;
    border: 1px solid #ccc;
    border-radius: 2px;
}

li.menu-item {
    float: left;
}

li.menu-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li.menu-item a:hover {
    background-color: #07f;
}