@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.2em;
}

body {
  background-image: url("/images/noise.png");
}

hr {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 89, 159, 1), rgba(0, 0, 0, 0));
  height: 1px;
  border: 0;
}
hr.clear-fix {
  margin-bottom: 30px;
}

.clear-fix {
    clear: both;
}

#container {
  background-color: white;
  width: 940px;
  min-height: 100vh;
  margin: 0px auto;
  border-top: 5px solid #00599f;
  border-bottom: 5px solid #00599f;
  padding: 10px 10px 0px 10px;

  box-shadow: 10px 10px 80px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 80px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 80px -1px rgba(0,0,0,0.75);
}

ul li {
  margin-left: 20px;
}

figure {
  margin-top: 10px;
  margin-bottom: 10px;
}

figure figcaption {
  text-align: center;
  color: #999;
}

header {
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
  float: left;
}
header img {
  height: 100px;
}

nav {
  width: 640px;
  margin-bottom: 10px;
  float: right;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  width: 124px;
  margin-left: 0px;
  display: inline-block;
}
nav ul li a, nav ul li a:link {
  color: #00599f;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  line-height: 100px;
}
nav ul li a:visited {
  color: #00599f;
}
nav ul li a:hover {
  color: #6b9cc4;
}
nav ul li a:focus {
  color: #aaa;
}

h1, h2, h3 {
  color: #00599f;
  margin-bottom: 10px;
}
h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
}
h2 {
  font-size: 2em;
}


section {
  padding:10px;
  margin-bottom: 10px;

  float: left;
}
section#banner, section.content {
  width: 920px;
}
article {
  margin-bottom: 40px;
}
article p {
  text-indent: 1em;
  line-height: 1em;
  margin-bottom: 20px;
}

article figure img {
  width: 100%;
}

section#clubs, section#news {
  width: 600px;
}

aside {
  background-color: #00599f;
  width: 270px;
  float: left;
  margin-left: 10px;
  padding: 15px;
}
aside ul li {
  list-style-type: none;
  padding-left: 30px;
}
aside a strong {
  text-transform: uppercase;
}
aside a, aside a strong, aside ul li a {
  text-decoration: none;
  display: block;
  padding: 5px;
  color: #fff;
}
aside a:hover strong, aside a:hover, aside ul li a:hover {
  color: #ccc;
}

h1.slogan {
  margin-bottom: -10px;
}
p.slogan {
  margin-bottom: 20px;
}
.slogan {
  text-align: center;
}
.banner {
  width: 100%;
}


table {
  color: #333;
  width: 920px;
  border-collapse:
  collapse; border-spacing: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}
table caption {
  text-align: left;
  font-size: 2em;
  margin-bottom: 10px;
}

td, th {
  border: 1px solid #CCC;
  height: 30px;
  padding: 3px;
}

th {
  background: #F3F3F3;
  font-weight: bold;
}

td {
  background: #FAFAFA;
  text-align: center;
}

footer {
  color: #333;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

#contacts li {
  list-style: none;
  list-style-image: none;
}

#contacts > li {
  width: 240px;
  float: left;
  text-align: center;
  margin-bottom: 10px;
}

.form-input {
  margin-bottom: 20px;
}

.form-input textarea {
  width: 100%;
  display: block;
}

form * {
  font-size: 1em;
}

form button {
  background-color: #00599f;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  border: none;
  padding: 15px 32px;
  display: inline-block;
}
