<img alt="Brand" class="logo" src="images/logo.jpg">
<h1>Wallerua Sport Club</h1>
<ul class="menu">
  <li class="menu-item active"><a href="index.html">Home</a></li>
  <li class="menu-item"><a href="about.html">Nosotros</a></li>
  <li class="menu-item"><a href="schedule.html">Horarios</a></li>
  <li class="menu-item"><a href="activities.html">Actividades</a></li>
  <li class="menu-item"><a href="subscribe.html">Suscribirse</a></li>
</ul>
