---
title: Nosotros
---

<section>
  <h1>Nosotros</h1>

  <hr />

  <ul>

    <li><strong>Presidentes</strong>
      <ul>
        <li>Presidente Osvaldo Gonzalez</li>
        <li>Vicepresidente Jorge Martinez</li>
      </ul>
    </li>

    <li><strong>Secretarios</strong>
      <ul>
        <li>Secretario Armando Silva</li>
        <li>Prosecretario Juan Lopez</li>
      </ul>
    </li>

    <li><strong>Tesorero</strong>
      <ul>
        <li>Tesorero Carlos Libonati</li>
        <li>Protesorero Luis Núñez</li>
      </ul>
    </li>

    <li><strong>Vocales</strong>
      <ul>
        <li>Vocal Jorge Muscardi</li>
        <li>Vocal Esteban González</li>
        <li>Vocal Alfredo Silava</li>
      </ul>
    </li>

    <li><strong>Colaboradores</strong>
      <ul>
        <li>Colaborador Gonzalo Jimenez</li>
        <li>Colaborador Gustavo Rivarola</li>
        <li>Colaborador Claudio Piscualino</li>
      </ul>
    </li>

    <li><strong>Gerencia</strong>
      <ul>
        <li>Gerencia Mariana Hernandez</li>
      </ul>
    </li>

    <li><strong>Departamentos</strong>
      <ul>
        <li>Departamento Físico Laura Casales</li>
      </ul>
    </li>

    <li><strong>Intendentes</strong>
      <ul>
        <li>Intendente Alejandro Luminares</li>
      </ul>
    </li>

    <li><strong>Comisiónado</strong>
      <ul>
        <li>Comisión Futbol Carlos Ramirez</li>
        <li>Comisión Basquetbol Luis Fernandez</li>
      </ul>
    </li>

    <li><strong>Secretarios</strong>
      <ul>
        <li>Secretario de Actas Marcos De Santos</li>
      </ul>
    </li>

    <li><strong>Asesores</strong>
      <ul>
        <li>Asesor Letrado Jorge Wasilis</li>
        <li>Asesor Notarial Andres Estevenson</li>
      </ul>
    </li>

  </ul>
</section>
