---
title: Nosotros
---

<section>
  <h1>Nosotros</h1>
  <hr />
  <ul>
    <li>Presidente Osvaldo Gonzalez</li>
    <li>Vicepresidente Jorge Martinez</li>
    <li>Secretario Armando Silva</li>
    <li>Prosecretario Juan Lopez</li>
    <li>Tesorero Carlos Libonati</li>
    <li>Protesorero Luis Núñez</li>
    <li>Vocal Jorge Muscardi</li>
    <li>Vocal Esteban González</li>
    <li>Vocal Alfredo Silava</li>
    <li>Colaboradores Gonzalo Jimenez</li>
    <li>Colaboradores Gustavo Rivarola</li>
    <li>Colaboradores Claudio Piscualino</li>
    <li>Gerencia Mariana Hernandez</li>
    <li>Departamento Físico Laura Casales</li>
    <li>Intendente Alejandro Luminares</li>
    <li>Comisión Futbol Carlos Ramirez</li>
    <li>Comisión Basquetbol Luis Fernandez</li>
    <li>Secretario de Actas Marcos De Santos</li>
    <li>Asesor Letrado Jorge Wasilis</li>
    <li>Asesor Notarial Andres Estevenson</li>
  </ul>
</section>
