---
title: Actividades
---

<h1>Actividades</h1>

<section>
  <h2>Iniciación</h2>
  <p>Clases de intensidad leve a moderada que tienen el objetivo de lograr mejores resultados a largo plazo en lo que refiere a educación, respeto y comportamiento tanto dentro como fuera del club, cumplimiento de normas, cuidado y uso de materiales y de instaurar y/o reafirmar el gusto por realizar actividad física.</p>
  <p>Iniciación al Fitness: Actividad de intensidad leve a moderada de introducción y enseñanza de las distintas técnicas de entrenamiento muscular y cardiovascular basándose en modalidades de gimnasia grupal para socios de 11 a 13 años.</p>
  <p>Iniciación a la Musculación: Actividad de intensidad leve a moderada de introducción y enseñanza de las distintas técnicas de entrenamiento muscular y cardiovascular para socios de 11 a 13 años. Es la única actividad del Área Fitness que se realiza en Sala de Musculación.</p>
  <p>Spinning Basics: Actividad de intensidad leve a moderada de introducción y enseñanza de las distintas técnicas de entrenamiento cardiovascular en bicicleta estacionaria para socios de 11 años en adelante.</p>
</section>

<section>
  <h2>Cuerpo y Mente</h2>
  <p>Clases de intensidad predominantemente moderada, que tiene el objetivo de lograr una mejor calidad de vida integrando cuerpo y mente en el entrenamiento.</p>
  <p>Expresión corporal: Actividad artística de intensidad leve a moderada que busca desarrollar y mejorar sensibilidad, imaginación, creatividad y comunicación.</p>
  <p>Tai chi: Disciplina de intensidad leve a moderada que busca mejorar movilidad articular, concentración y autocontrol a través de ejercicios de respiración y meditación, combinados con movimiento lentos y fluidos.</p>
  <p>Yoga: Disciplina física y mental de intensidad variable que busca mejorar movilidad, flexibilidad y fuerza, mediante armonía, paz y equilibrio integrando cuerpo, mente y espíritu.</p>
</section>

<section>
  <h2>Imagen y Salud</h2>
  <p>Clases de intensidades leve a alta que además de buscar mejorar las capacidades musculares y cardiovasculares (calidad de vida) tienen también un fin estético.</p>
  <p>Adultos Mayores: Actividad de intensidad leve a moderada que combina trabajos musculares y cardiovasculares, con el objetivo de mejorar estabilidad, movilidad, elongación, fuerza, resistencia y coordinación.</p>
  <p>Aero Local: Actividad de intensidad moderada a alta que combina trabajos cardiovasculares y musculares, con el objetivo de mejorar capacidad y resistencia cardiovascular y coordinación, resistencia, fuerza y tono muscular.</p>
  <p>Gimnasia Integral para Adultos: Actividad de intensidad leve a moderada dirigida a un público entre adulto y adulto mayor, que combina trabajos musculares y cardiovasculares, con el objetivo de mejorar capacidad y resistencia cardiovascular y coordinación, resistencia, fuerza y tono muscular.</p>
  <p>Gimnasia Tradicional para Adultos: Actividad de intensidad moderada a alta dirigida a un público adulto, que combina trabajos cardiovasculares y musculares, con el objetivo de mejorar capacidad y resistencia cardiovascular y coordinación, resistencia, fuerza y tono muscular.</p>
  <p>Hidro: Actividad de intensidad leve a moderada que combina trabajos cardiovasculares y musculares en el agua, con el objetivo de mejorar capacidad y resistencia cardiovascular, coordinación, resistencia y tono muscular y producir beneficios como son mejorar circulación sanguínea, mejorar postura y disminuir presión articular.</p>
  <p>Higiene de Columna: Actividad de intensidad leve a moderada dirigida a un público entre adulto y adulto mayor, que combina trabajos posturales estáticos y dinámicos, con el objetivo de mejorar movilidad, estabilidad y estiramiento de la columna vertebral.</p>
  <p>Local: Actividad de intensidad moderada a alta de entrenamiento muscular, que busca mejorar resistencia, fuerza y tono, tanto en forma general como localizada.</p>
  <p>Local con Barras: Actividad de intensidad moderada a alta de entrenamiento muscular realizado principalmente con barras y discos, que busca mejorar resistencia, fuerza y tono, tanto en forma general como localizada.</p>
  <p>Pilates: Disciplina de intensidad moderada a alta de entrenamiento físico y mental, que plantea movimientos dinámicos y estáticos derivados de danza, yoga, esgrima y otras técnicas con el objetivo de mejorar movilidad, flexibilidad, postura, fuerza y tono muscular integrando cuerpo, mente y espíritu.</p>
  <p>Stretching: Actividad de intensidad leve a moderada que plantea movimientos dinámicos y estáticos de elongación, con el objetivo de mejorar flexibilidad, elasticidad y tono muscular.</p>
</section>

<section>
  <h2>Diversión</h2>
  <p>Clases de intensidad leve a alta que a través de baile buscan mejorar las capacidades cardiovasculares y coordinativas.</p>
  <p>Salsa: Actividad de intensidad moderada a alta de trabajo cardiovascular, que busca mejorar las capacidades cardiovasculares y coordinativas a través de técnicas de baile afro y españolas.</p>
  <p>Zumba: Actividad de intensidad moderada a alta de trabajo cardiovascular, que busca mejorar las capacidades cardiovasculares y coordinativas a través de técnicas de baile como son salsa, merengue, cumbia, reggaeton, samba, etc.</p>
  <p>Golden Zumba: Actividad de intensidad leve a moderada de trabajo cardiovascular, dirigida a un público entre adulto y adulto mayor, que busca mejorar las capacidades cardiovasculares y coordinativas a través de técnicas de baile como son salsa, merengue, cumbia, reggaeton, samba, etc.</p>
</section>


<section>
  <h2>Rendimiento</h2>
  <p>Clases de intensidad predominantemente alta que tienen el objetivo de mejorar el rendimiento físico en general.</p>
  <p>Functional Training: Actividad de intensidad predominantemente alta que combina trabajo muscular y cardiovascular basándose en métodos de entrenamiento intervalado, alternando estímulos de alta intensidad con períodos de recuperación con el objetivo de mejorar capacidad y resistencia cardiovascular y coordinación, agilidad, resistencia, fuerza y tono muscular.</p>
  <p>Grupo de Running: Actividad de intensidad leve a alta de trabajo cardiovascular corriendo, que se basa en métodos de entrenamiento continuos y/o intervalados con el objetivo de mejorar capacidad aeróbica y anaeróbica y resistencia muscular y cardiovascular.</p>
  <p>Spinning: Actividad de intensidad leve a alta de trabajo cardiovascular en bicicleta estacionaria, que se basa en métodos de entrenamiento continuos y/o intervalados con el objetivo de mejorar capacidad aeróbica y anaeróbica, resistencia y fuerza muscular y potencia y resistencia cardiovascular.</p>
  <p>TABATA: Actividad de intensidad predominantemente alta que combina trabajo muscular y cardiovascular basándose en métodos de entrenamiento intervalado, alternando estímulos de alta intensidad con períodos de recuperación con el objetivo de mejorar capacidad y resistencia cardiovascular y coordinación, agilidad, resistencia, fuerza y tono muscular.</p>
  <p>Total Training: Actividad de intensidad predominantemente alta que combina trabajo muscular y cardiovascular basándose en métodos de entrenamiento intervalado, alternando estímulos de alta intensidad con períodos de recuperación con el objetivo de mejorar técnicas de desplazamiento, salto y movimiento, capacidad y resistencia cardiovascular y coordinación, agilidad, resistencia, fuerza y tono muscular. Es la única actividad del Área Fitness que se realiza al aire libre, en el parque Villa Biarritz.</p>
  <p>TRX: Actividad de intensidad predominantemente alta de movimientos en suspensión, que combina trabajo muscular y cardiovascular basándose en métodos de entrenamiento intervalado, alternando estímulos de alta intensidad con períodos de recuperación con el objetivo de mejorar capacidad y resistencia cardiovascular y coordinación, agilidad, resistencia, fuerza y tono muscular.</p>
  <p>XTP: Actividad de intensidad predominantemente alta que combina trabajo muscular y cardiovascular, basándose en técnicas de levantamientos olímpicos, habilidades gimnásticas, core training, kettlebells, lanzamientos y saltos y en métodos de entrenamiento intervalado, alternando estímulos de alta intensidad con períodos de recuperación, con el objetivo de mejorar técnicas de levantamiento, salto y movimiento, capacidad y resistencia cardiovascular y coordinación, agilidad, resistencia, fuerza, potencia y tono muscular.</p>
</section>
