---
title: Bienvenidos
---

<header>
  <h2>Bienvenidos</h2>
  <hr />
  <p><em>Tu club. Nuestro club.</em></p>
</header>

<aside>
  <ul>
    <li><a href="#clubs">Los clubes</a></li>
    <li>
      <a href="#news">Noticias</a>
      <ol>
        <li><a href="#news-1">Preguntale al Profe!</a></li>
        <li><a href="#news-2">Nuevo servicio para chicos</a></li>
        <li><a href="#news-3">Fiesta verde en el campo deportivo</a></li>
        <li><a href="#news-4">Poné el corazón en el club</a></li>
      </ol>
    </li>
  </ul>
</aside>

<summary>
  <figure>
    <img src="images/working-out-with-barbells.jpg" alt="" height="50%" width="50%"/>
  </figure>

  <h2>Los clubes</h2>

  <hr />

  <p>Un equipo deportivo es un <em>grupo de personas que compite en un deporte</em>. Tradicionalmente se asocia el término a los deportes de equipo, donde los integrantes <em>compiten como tales</em>. Sin embargo, también existen equipos en deportes individuales. Por ejemplo, en el automovilismo, motociclismo y ciclismo, el equipo incluye personas encargadas de construir y reparar los vehículos.</p>
  <p>Un club de deportes, club deportivo o club atlético, es un club <em>dedicado a la práctica del deporte</em>. Algunos clubes poseen equipos que compiten en torneos oficiales, en tanto que otros clubes se limitan a actividades lúdicas. Un club posee <em>instalaciones destinadas a la práctica del deporte</em>; se denomina club multideportivo cuando <em>se practican múltiples deportes</em>.</p>
  <p>No todos los equipos deportivos son clubes asociados. A nivel amateur hay equipos informales, es decir sin personería jurídica. En el deporte profesional, <em>algunos equipos son empresas con fines de lucro</em>. Por otra parte, las federaciones deportivas suelen organizar selecciones deportivas, es decir equipos que <em>cuentan con los mejores competidores de su país o clubes</em> afiliados.</p>
  <p>Algunos clubes poseen equipos juveniles, donde niños y adolescentes practican el deporte a alto nivel, de modo que <em>los mejores se incorporen a los equipos mayores</em>.</p>
</summary>

<section id="news">
    <h2>Noticias</h2>

    <hr />

    <article id="news-1">
      <h3>Preguntale al Profe!</h3>

      <p>Preguntale al técnico!!</p>
      <p>A partir del 25 de mayo vamos a tener un nuevo servicio.</p>
      <p>Consultas con técnico en fitness. Él va a poder hacer recomendaciones para aprovechar al máximo tus rutinas y guiarte para cumplir tus objetivos.</p>
      <p>Las consultas serán:</p>
      <p>Miércoles y Viernes de mañana a partir de las 9:30 o en la tarde a partir de las 18:15hs</p>
      <p><em>Los esperamos!!</em></p>
    </article>

    <article id="news-2">
        <h3>Nuevo servicio para chicos</h3>

        <p>Atención chicos!!! Llegó lo que tanto querían!!!</p>
        <p>Si tenés de 13 a 15 años, a partir del 13 de junio podrás realizar actividad física guiada en nuestra Sala de Musculación</p>
        <p>De 7:00 a 18:30 hs</p>
        <p><em>Para agarrarle el gustito a la sala... vení!!</em></p>
    </article>

    <article id="news-3">
        <h3>Fiesta verde en el campo deportivo</h3>

        <p>Esta acción que cuenta con el beneplácito y la aprobación Municipal, y es la primera de un programa que se desarrollará en dos etapas. La siguiente será dentro de un mes aproximadamente; en esa instancia serán árboles autóctonos donados por el Municipio e irán en el callejón detrás del arco que da a la continuación de la calle Mauá. Es importante mencionarles que esto nos permitirá aportar no sólo una barrera de contención natural, sino también colaborar con la forestación y embellecimiento de la zona.</p>
        <p>Desde ya están todos invitados a participar.</p>
        <p><em>Los esperamos!!</em></p>
    </article>

    <article id="news-4">
        <h3>Poné el corazón en el club</h3>

        <p>Durante los meses de julio y agosto, la comisión de cultura organizó un ciclo de charlas de socios para socios. Las ponencias giran en torno a temas de salud y deporte.</p>

        <ul>
            <li>21 de julio 19:00 Dr. Gonzalo Varela</li>
            <li>28 de julio 19:00 Psic. Jorge Ferrari</li>
            <li>4 de agosto 19:00 Lic. Fabiana Werba</li>
            <li>11 de agosto 19:00 Lic. Patricia Janson</li>
        </ul>
        <p><em>Todas las charlas se llevarán a cabo en el teatro del Club.</em></p>
    </article>

</section>
