---
title: Formulario de Contacto
---
<section class="content">
  <h1>Subscribirse</h1>

  <h2>Datos Personales</h2>
  <form action="#" method="get" autocomplete="off">

    <div class="form-input">
      <label for="user_email">Email <strong>(*)</strong>:</label> <input type="email" id="user_email" placeholder="i.e: peter@example.com" required />
    </div>

    <div class="form-input">
    <label for="country">País:</label>
    <select name="country" id="country">
      <optgroup label="América Sur">
        <option value="uy">Uruguay</option>
        <option value="ar">Argentina</option>
        <option value="br">Brasil</option>
      </optgroup>
      <optgroup label="América Norte">
        <option value="mx">Mexico</option>
        <option value="us">Estados Unidos</option>
        <option value="ca">Canadá</option>
      </optgroup>
    </select>
    </div>

    <div class="form-input">
      Genero:
      <label for="male"><input type="radio" name="m-or-f" id="male" checked /> Hombre</label>
      <label for="female"><input type="radio" name="m-or-f" id="female" /> Mujer</label>
    </div>

    <div class="form-input">
      <label for="user_comment">Comentarios:</label>
      <textarea rows="6" cols="50"></textarea>
    </div>

    <div class="form-input">
      <label for="rating">Puntaje del 1-5:</label>
      <select name="rating" id="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
    </div>

    <div class="form-input">
      <label><input type="checkbox" name="name" value=""> Acepta recibir nuestro newsletter</label>
    </div>

    <button type="submit">Enviar</button>
  </form>
</section>
