---
title: Formulario de Contacto
---
<h2>Subscribirse</h2>
<form action="#" method="get">

  <label for="user_email" class="control-label">Email</label>
  <input type="email" class="form-control" id="user_email" placeholder="peter@example.com">

  <label for="user_comment" class="control-label">Comentario</label>
  <textarea class="form-control" rows="3" placeholder="Comentarios..."></textarea>

  <button type="submit" class="btn btn-default">Enviar</button>
</form>
